{% extends 'base.html.twig' %}

{% block body %}
	<div class='container'>
		<header>Displaying...</header>
			<div class='row'>		
   				<img src="{{ vich_uploader_asset(image, 'image')}}" alt="{{ image.fileName }}">
			</div>
	</div>
{% endblock %}