{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<script src="vendor/photoeditor/js/PhotoEditorSDK.min.js"></script>
  	<script src="vendor/photoeditor/js/PhotoEditorReactUI.min.js"></script>
{% endblock %}

{% block body %}
	<div id="editor" style="width: 640px; height: 480px;"></div>
	<script>
           window.onload = function () {
   			 var container = document.getElementById('editor')
   			 var editor = new PhotoEditorSDK.UI.ReactUI({
   			   editor: {
   			   	export: {
   			  	 	download: false,
      				type: PhotoEditorSDK.RenderType.DATAURL
   			   	}
   			   },
   			   container: container,
   			   assets: {
    			    baseUrl: '/vendor/photoeditor/assets' // <-- This should be the absolute path to your `assets` directory
    			  }
 			   })
			  
			  editor.on('export', (dataURL) => {
	        	   $.ajax({
	        	     type: "POST",
	        	     url: "/export",
	        	     data: {
	        	       image: dataURL
	        	     }
	        	   }).done(function() {
	        		 console.log('saved');
	        	   })
	        	})
           }
        </script>
{% endblock %}
        
{% block javascripts %}
	{{ parent() }}
	<link rel="stylesheet" href="vendor/photoeditor/css/PhotoEditorReactUI.min.css" />
{% endblock %}
