{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">	
	    <div class="row">
	    	<div class="col-xs-12">
	    		{{ form_start(imageForm) }}
	           		{{ form_row(imageForm.image) }}
	            	<button type="submit" class="btn btn-primary" formnovalidate>Upload</button>
	            {{ form_end(imageForm) }}	
	    	</div>
	    </div>
	</div>
{% endblock %}

