{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href={{ "css\index.css" }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
    	<div class="container">
    		<h1>PictureThis!</h1>
    		<p>Welcome to the easiest way to upload, edit, and share your images. 
    		Feel free to check out what others have made, or make something for yourself!</p>
    		<p><a class = "btn btn-primary btn-lg" href="/edit" role = "button">Click here to get started!</a></p>
    	</div> <!-- end container -->
    </div> <!-- end jumbotron -->

    <div class='container'>
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h3>Here's what others have made...</h3>
    		</div>
    		<div class="panel-body">
    			<!-- process images in BS thumbnails -->
    			<div class='row'>
        			{% for image in images %}
        			<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
        				<a href="{{ "image/#{image.id}" }}" class="thumbnail"> <img class="img-responsive"
    						src="{{ vich_uploader_asset(image, 'image', 'AppBundle\\Entity\\Image') }}"
    						style="height:200px;">
    					</a>
        			</div> <!-- end BS thumbnail col -->
        			{% endfor %}
    			</div>
    		</div> <!-- end panel-body -->
    		<div class="panel-footer">
    			<p><a class="btn btn-success btn-lg" href="/gallery" role="button">Want to see more?</a></p>
    		</div> <!-- end panel-footer -->
    	</div> <!-- end panel panel-default -->
    </div> <!-- end container -->
{% endblock %}

